<div class="page-section portfolio">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="tcenter">OUR <span class="bold">PORTFOLIO</span></h2>
      </div>
    </div>
  </div>
</div>

<div class="page-section">
  <div class="relative">


    <ul class="port-grid port-grid-3 port-grid-gut clearfix" id="items-grid">
      <li class="port-item mix">
        <a href="portfolio-single1.html">
          <div class="port-img-overlay"><img class="port-main-img" src="http://placehold.it/650x418/999999/99999" alt="img" ></div>
        </a>
        <div class="port-overlay-cont">
          <div class="port-title-cont">
            <h3><a href="portfolio-single1.html">MINIMALISM BOOKS</a></h3>
            <span><a href="#">ui elements</a><span class="slash-divider">/</span><a href="#">media</a></span>
          </div>
          <div class="port-btn-cont">
            <a href="images/portfolio/projects-2-big.jpg" class="lightbox mr-20" ><div aria-hidden="true" class="icon_search"></div></a>
            <a href="portfolio-single1.html"><div aria-hidden="true" class="icon_link"></div></a>
          </div>
        </div>
      </li>

      <li class="port-item mix">
        <a href="portfolio-single1.html">
          <div class="port-img-overlay">
            <img class="port-main-img" src="http://placehold.it/650x418/999999/99999" alt="img" >
          </div>
        </a>
        <div class="port-overlay-cont">
            <div class="port-title-cont">
              <h3><a href="portfolio-single1.html">CALENDAR</a></h3>
              <span><a href="#">photography</a><span class="slash-divider">/</span><a href="#">media</a></span>
            </div>
            <div class="port-btn-cont">
              <a href="images/portfolio/projects-2-big.jpg" class="lightbox mr-20" ><div aria-hidden="true" class="icon_search"></div></a>
              <a href="portfolio-single1.html"><div aria-hidden="true" class="icon_link"></div></a>
            </div>
        </div>
      </li>

      <li class="port-item mix">
        <a href="portfolio-single1.html">
          <div class="port-img-overlay">
            <img class="port-main-img" src="http://placehold.it/650x418/999999/99999" alt="img" >
          </div>
        </a>
        <div class="port-overlay-cont">
            <div class="port-title-cont">
              <h3><a href="portfolio-single1.html">EYES OF THE CAR</a></h3>
              <span><a href="#">branding</a><span class="slash-divider">/</span><a href="#">marketing</a></span>
            </div>
            <div class="port-btn-cont">
              <a href="images/portfolio/projects-2-big.jpg" class="lightbox mr-20" ><div aria-hidden="true" class="icon_search"></div></a>
              <a href="portfolio-single1.html"><div aria-hidden="true" class="icon_link"></div></a>
            </div>
        </div>
      </li>

      <li class="port-item mix">
        <a href="portfolio-single1.html">
          <div class="port-img-overlay">
            <img class="port-main-img" src="http://placehold.it/650x418/999999/99999" alt="img" >
          </div>
        </a>
        <div class="port-overlay-cont">
            <div class="port-title-cont">
              <h3><a href="portfolio-single1.html">NOW IS NOW</a></h3>
              <span><a href="#">design</a><span class="slash-divider">/</span><a href="#">photography</a></span>
            </div>
            <div class="port-btn-cont">
              <a href="images/portfolio/projects-2-big.jpg" class="lightbox mr-20" ><div aria-hidden="true" class="icon_search"></div></a>
              <a href="portfolio-single1.html"><div aria-hidden="true" class="icon_link"></div></a>
            </div>
        </div>
      </li>

      <li class="port-item mix">
        <a href="portfolio-single1.html">
          <div class="port-img-overlay">
            <img class="port-main-img" src="http://placehold.it/650x418/999999/99999" alt="img" >
          </div>
        </a>
        <div class="port-overlay-cont">
            <div class="port-title-cont">
              <h3><a href="portfolio-single1.html">EYES OF THE CAR</a></h3>
              <span><a href="#">ui elements</a><span class="slash-divider">/</span><a href="#">media</a></span>
            </div>
            <div class="port-btn-cont">
              <a href="images/portfolio/projects-2-big.jpg" class="lightbox mr-20" ><div aria-hidden="true" class="icon_search"></div></a>
              <a href="portfolio-single1.html"><div aria-hidden="true" class="icon_link"></div></a>
            </div>
        </div>
      </li>

      <li class="port-item mix">
        <a href="portfolio-single1.html">
          <div class="port-img-overlay">
            <img class="port-main-img" src="http://placehold.it/650x418/999999/99999" alt="img" >
          </div>
        </a>
        <div class="port-overlay-cont">
            <div class="port-title-cont">
              <h3><a href="portfolio-single1.html">LOVE</a></h3>
              <span><a href="#">branding</a><span class="slash-divider">/</span><a href="#">media</a></span>
            </div>
            <div class="port-btn-cont">
              <a href="images/portfolio/projects-2-big.jpg" class="lightbox mr-20" ><div aria-hidden="true" class="icon_search"></div></a>
              <a href="portfolio-single1.html"><div aria-hidden="true" class="icon_link"></div></a>
            </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="port-view-more-cont">
  <a class="port-view-more" href="portfolio-4-col-masonry.html">VIEW MORE PROJECTS</a>
</div>
