<div class="page-section fes4-cont services">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="fes4-box">
          <h2 class="section-title">OUR <span class="bold">SERVICES</span></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="fes4-box">
          <div class="fes4-title-cont" >
            <h3><span class="bold">BRANDING</span></h3>
            <p>LOREM IPSUM DOLOR</p>
          </div>
          <div>
            Donec vel luctus nisi in sem fermentum blat. In nec elit solliudin, elementum, dictum pur quam volutpat suscipit antena.
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="fes4-box" >
          <div class="fes4-title-cont" >
            <h3><span class="bold">WEB DESIGN</span></h3>
            <p>LOREM IPSUM DOLOR</p>
          </div>
          <div>
            Lorem luctus antena at nisi in sem blandit. In nec elit soltudin, elementum odio et, dictum quam a volutpat elementum.
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="fes4-box" >
          <div class="fes4-title-cont" >
            <h3><span class="bold">PHOTOGRAPHY</span></h3>
            <p>LOREM IPSUM DOLOR</p>
          </div>
          <div>
            Fermentum nisi in sem fertum blat. In elit soldin, elemtum, arenam pur quam volutpat suscipit dictum pur quam.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
