<div id="about" class="page-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 equal-height ">
        <div class="fes2-main-text-cont">
          <div class="title-fs-45">
            BACON IPSUM<br>
            <span class="bold">DOLOR</span>
          </div>
          <div class="line-3-70"></div>
          <div class="fes2-text-cont">Sed ut perspiciatis unde omnis iste nat eror acus  antium que. Asperiores, ea velit enim labore doloribus.</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="fes2-img equal-height"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 left-50 equal-height">
        <div class="fes2-main-text-cont">
          <div class="title-fs-45">
            TEXT<br>
            <span class="bold">BACON</span>
          </div>
          <div class="line-3-100"></div>
          <div class="fes2-text-cont">Sed ut perspiciatis unde omnis iste nat eror acus  antium que. Asperiores, ea velit enim labore doloribus.</div>
        </div>
      </div>
      <div class="col-md-6 right-50">
        <div class="row">
          <div class="fes3-img equal-height" ></div>
        </div>
      </div>
    </div>
  </div>
</div>
